<html>
	<head>
		<script>
			function myFunction() {
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
					document.getElementById("my-demo").innerHTML = this.responseText;
					}
				};
				xhttp.open("GET", "${url}", true);
				xhttp.send();

			}

		</script>
	</head>
<body>
	<div align="center">
		<br>
		<br>
		<br>
		<br>
		<h1> <span id="my-demo">Hello Cloud Gurus!</span></h1>
		<button onclick="myFunction()">Click me</button>	
	</div>

	</body>
</html>